# Ignore all
*
# Unignore all with extensions (to leave binaries ignored)
!*.*
# Unignore all directories
!*/

# Unignore useful, extensionless files
!LICENSE

# Object files
*.o
*.so
**/obj

# Compiled binaries
**/bin

# Visual Studio Code configuration
.vscode/