# Ignore all
*
# Unignore all with extensions (to leave binaries ignored)
!*.*
# Unignore all directories
!*/

# Unignore useful, extensionless files
!LICENSE
!Makefile

# Object files
*.o
*.so
**/obj

# Program files
**/var
*.log
*.pnm
*.pbm
*.pgm
*.ppm
*.mp4

# Visual Studio Code configuration
.vscode/

# Test scripts
**/test