[submodule "lib/libgroot"]
	path = lib/libgroot
	url = https://github.com/AdamBromiley/libgroot
[submodule "lib/sooty"]
	path = lib/sooty
	url = https://github.com/AdamBromiley/sooty
[submodule "lib/percy"]
	path = lib/percy
	url = https://github.com/AdamBromiley/percy
